    <div id ="divInfoTop" class="encabezado"> 
        <div class="titulo">Normatividad</div>
    </div>

    <div id="divInfoMain">
        <div style="font-size:18px"> Para mayor información acceder al siguiente hipervinculo: </div>
        <br/>
        <br/>
        <a style="margin-top:6px; font-size:18px;  text-decoration: underline;" target="_blank" href="http://www.gob.mx/sfp/documentos/normatividad-21935">Conjunto básico de disposiciones legales, reglamentarias y administrativas, que rigen en materia de transparencia, acceso a la información y archivos</a>
    </div>

    <div id="divPlazosTop" class="encabezado">
        <div class="titulo">Plazos para atender las solicitudes de acceso a la Información</div>
    </div>

    <div id="divPlazosMain" >
        <div class="info_ayuda" style="text-align: center; font-weight: bold;">Solicitudes de Acceso a la Información Pública</div>
        <div class="info_ayuda">
            <table class="tabla_info" cellpadding="10" rules="rows" border="0">
                <tr style="font-weight:bold;">
                    <td align="center">Respuesta</td>
                    <td align="center">Plazo en Días hábiles (Posteriores a su Recepción)</td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Pública</li>
                            <li>Pública a la Vista</li>
                            <li>Aclaración</li>
                            <li>Incompetencia Parcial</li>
                            <li>Incompetencia Total</li>
                            <li>Inexistencia de Información</li>
                            <li>Información Reservada</li>
                            <li>Información Confidencial</li>
                            <li>Apliación de Plazo</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>8 días</li>
                            <li>3 días</li>
                            <li>3 días</li>
                            <li>8 días</li>
                            <li>3 días</li>
                            <li>5 días</li>
                            <li>8 días</li>
                            <li>8 días</li>
                            <li>8 días</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div class="info_ayuda" style="text-align: center; font-weight: bold;">Solicitudes de acceso a Datos Personales</div>
        <div class="info_ayuda">
            <table class="tabla_info" cellpadding="10" rules="rows" border="0">
                <tr style="font-weight:bold;">
                    <td align="center">Respuesta</td>
                    <td align="center">Plazo en Días hábiles (Posteriores a su Recepción)</td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Para Cualquier Tipo de Respuesta</li>
                            <li>Excepto - Ampliación de Plazo</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>5 días</li>
                            <li>&nbsp</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div class="info_ayuda" style="text-align: center; font-weight: bold;">Solicitudes de acceso a Corrección de Datos Personales</div>
        <div class="info_ayuda">

            <table class="tabla_info" cellpadding="10" rules="rows" border="0">
                <tr style="font-weight:bold;">
                    <td align="center">Respuesta</td>
                    <td align="center">Plazo en Días hábiles (Posteriores a su Recepción)</td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Para Cualquier Tipo de Respuesta</li>
                            <li>Excepto - Ampliación de Plazo</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>15 días</li>
                            <li>&nbsp</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div class="info_ayuda" style="text-align: center; font-weight: bold;">Recurso de Revisión en contra de la respuesta sobre Datos Personales o Corrección de éstos</div>
        <div class="info_ayuda">
            <table class="tabla_info" cellpadding="10" rules="rows" border="0">
                <tr style="font-weight:bold;">
                    <td>Unidad</td>
                    <td>Actividad</td>
                    <td>Plazos<br>(días hábiles)</td>
                    <td>Seguimiento</td>
                    <td>Plazos<br>(días hábiles)</td>
                </tr>
                <tr>
                    <td>CT</td>
                    <td>Recibe y Turna</td>
                    <td>El mismo día<br>(fecha recepción)</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>UA</td>
                    <td>
                        <ul>
                            <li>Reitera respuesta</li>
                            <li>Argumenta negativa</li>
                            <li>Responde requerimiento</li>
                            <li>Otorga acceso</li>
                            <li>Inexistencia</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>4 días</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>CT Analiza:</li>
                            <li>Hace Manifestaciones o Alegatos </li>
                            <li>RIA</li>
                            <li>Otorga acceso (UE)</li>
                            <li>Confirma </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>3 días</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="mainLayout"> </div>

    @section Scripts
    {
        <script type="text/javascript">
            $("#menu1").toggleClass("boton_hover");
            $("#cboPerfil").hide();


            var pstylepanel = 'border: 1px solid #eeeeee; background-color: #FFF; padding: 0px;';
            var pstyle1 = 'border: 1px solid #dfdfdf; padding: 5px; background-color:#FFFFFF; text-aling: center; width:100%; ';
            var pstyle2 = 'border: 1px solid #dfdfdf; padding: 5px; background-color:#FFFFFF; overflow: auto; font-size:10px;';
            var objetos = {
                layout1: {
                    name: 'layout1',
                    panels: [
                        { type: 'main', size: 400, resizable: true, style: pstylepanel, content: 'main' },
                        { type: 'right', size: 300, resizable: true, style: pstylepanel, content: 'right' }
                    ]
                },
                plazos: {
                    name: 'plazos',
                    panels: [
                        { type: 'top', size: 30, resizable: false, style: 'background:#eeeeee;', content: 'top' },
                        { type: 'main', size: 624, resizable: false, style: pstyle1, content: 'bottom' }
                    ]
                },
                info: {
                    name: 'info',
                    panels: [
                        { type: 'top', size: 30, resizable: false, style: 'background:#eeeeee;', content: 'top' },
                        { type: 'main', size: 396, resizable: true, style: pstyle2, content: 'main' }
                    ]
                }
            };

            $(function () {
                AjustarPantalla('mainLayout', 0.79, 0.98);

                $('#mainLayout').w2layout(objetos.layout1);
                $().w2layout(objetos.info);
                $().w2layout(objetos.plazos);

                w2ui['layout1'].content('right', w2ui['info']);
                w2ui['layout1'].content('main', w2ui['plazos']);

                w2ui['info'].content('top', { render: function () { $(this.box).append($('#divInfoTop').detach()); } });
                w2ui['info'].content('main', { render: function () { $(this.box).append($('#divInfoMain').detach()); } });
                w2ui['plazos'].content('top', { render: function () { $(this.box).append($('#divPlazosTop').detach()); } });
                w2ui['plazos'].content('main', { render: function () { $(this.box).append($('#divPlazosMain').detach()); } });
                
            });
            
        </script>
    }