@{
    ViewData["Title"] = "Error";
    Layout = null;
}


<br />
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Un error ha ocurrido mientras se procesaba su solicitud</h2>

<h3>Comunicarse con la DGTI</h3>
<p>
    Favor de comunicarse con la Dirección de Arquitectura de Software Ext. 5066 para la atención de este error.
</p>
