@using SFP.SIT.SERV.Util

<script type="text/javascript" src="~/js/sit/go.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script type="text/javascript" src="~/js/sit/Jstree.js"></script>



<script id="code">


    var TRespuestas = { "records": [] };
    var Nodos = { "records": [] };
    $(document).ready(function () {

        function AjaxPostForm1(pUrl, pData, pFunc, pUrlInicio) {
            //console.log("AJAX::::::::" + pUrl + ":::::::::" + pData);

            $.ajax({
                url: pUrl,
                type: "GET",
                data: pData,
                success: function (data) {
                    if (data === undefined) {
                        w2alert("No existen Información");
                    } else {
                        pFunc(data);
                    }
                },
                fail: function (xhr, ajaxOptions, thrownError) {
                    if (xhr.status === 401) {
                        w2alert("La sesión de usuario no existe, se redirecciona a la página principal");
                        window.open(pUrlInicio, "_self");
                    }
                    else {
                        w2alert("Existe un error en el sistema, favor de avisar al área de la DGTI");
                    }
                    w2popup.unlock();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    if (xhr.status === 401) {
                        w2alert("La sesión de usuario no existe, se redirecciona a la página principal");
                        window.open(pUrlInicio, "_self");
                    }
                    else {
                        w2alert("Existe un error en el sistema, favor de avisar al área de la DGTI");
                    }
                    w2popup.unlock();
                }
            });
        }


        function RenderAreas(data) {
            for (var i = 0; i < data.records.length; i++) {
                TRespuestas.records[i] = { "araclave": data.records[i].araclave, "arhsiglas": data.records[i].arhsiglas, "descripcion": data.records[i].arhdescripcion };
                $("#bodyTipoResp").append("<tr><td class=\"active\">" + data.records[i].araclave + "</td><td class=\"active\">" + data.records[i].arhsiglas + "</td>" + "</td><td class=\"active\">" + data.records[i].arhdescripcion + "</td>" + "<td class='active'>" + "<button  class=\"btn btn- blue btn-default\"  id=\"buscar\" onclick=\"editarArea()\" >Editar</button></td></tr>" );
            }
        }





        var _UrlInicio = "";
        //AjaxPostForm1('/Catalogo/Consulta', $('#frmtipoResp').serialize(), RendertipoResp, _UrlInicio);
        //AjaxPostForm1('/Catalogo/Consulta', $('#frmTipoNodo').serialize(), RenderNodo, _UrlInicio);
        var datosHistorial = @Html.Raw(ViewBag.Areas);
        //console.log(datosHistorial);
        RenderAreas(datosHistorial);
    });

</script>


<body style="margin-right: 40px; margin-left: 40px; width: 90%; ">
    <div id="sample">
        <div id="d" style="margin-top: 10px; display: inline-block;">
            <h1>Editor de Historial de Áreas</h1>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div style="overflow: auto; height: 800px;" id="jstree_demo" class="demo"></div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        Fecha:<br>
                        <input id="date" type="date" name="" value="2012-01-01" max="2012-12-01"><br><br>
                    </div>
                    <div class="col-md-6">
                        <button style="width: 100%; margin-top:20px;" class="btn btn-blue btn-default" id="buscar" onclick="ObtenerDiagrama()">Buscar</button><br><br>
                    </div>
                </div>
                <br />
                <div class="table-responsive" style="overflow: auto; height: 600px;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Sigla </td>
                                <td>Descripción </td>
                                <td>Editar</td>
                            </tr>
                        </thead>
                        <tbody id="bodyTipoResp">
                            <tr>
                                <td class=""></td>
                                <td class=""></td>
                                <td class=""></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                <div class="table-responsive" style="overflow: auto; height: 300px; display: none;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>ID Nivel</td>
                                <td>Nivel</td>
                            </tr>
                        </thead>
                        <tbody id="bodyNodo">
                            <tr><td class=""></td><td class=""></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="hidden">
            <h3>Instrucciones de Uso</h3>
            <ol start="1" style="margin-left: 25px; font-size: 1.2em;">
                <li>El texto de las cajas y de las flechas es editable</li>
                <li>Al hacer doble click en el fondo del diagrama, se crea un nuevo nodo</li>
                <li>La rueda del mouse acerca o aleja la vista del flujo.</li>
                <li>El texto es editable tanto para los perfiles como para las acciones.</li>
                <li>Las condicionales DEBEN contener en el texto la letra C mayúscula</li>
            </ol>
        </div>

        <div>
            <br />
            <script>
                function LoadingServer() {
                    console.log("wait");
                }
                function AjaxPostForm2(pUrl, pData, pFunc, pUrlInicio) {
                    //console.log("AJAX::::::::" + pUrl + ":::::::::" + pData);

                    $.ajax({
                        url: pUrl,
                        type: "POST",
                        data: pData,
                        success: function (data) {
                            if (data === undefined) {
                                w2alert("No existen Información");
                            } else {
                                pFunc(data);
                            }
                        },
                        fail: function (xhr, ajaxOptions, thrownError) {
                            if (xhr.status === 401) {
                                w2alert("La sesión de usuario no existe, se redirecciona a la página principal");
                                window.open(pUrlInicio, "_self");
                            }
                            else {
                                w2alert("Existe un error en el sistema, favor de avisar al área de la DGTI");
                            }
                            w2popup.unlock();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            if (xhr.status === 401) {
                                w2alert("La sesión de usuario no existe, se redirecciona a la página principal");
                                window.open(pUrlInicio, "_self");
                            }
                            else {
                                w2alert("Existe un error en el sistema, favor de avisar al área de la DGTI");
                            }
                            w2popup.unlock();
                        }
                    });
                }

                function Enviarflujo() {
                    if (save()) {
                        console.log("Enviando JSON a servuidor....");
                        $('input[name=JSONFlujo]').val(myDiagram.model.toJson());
                        //AjaxPostForm2('/Solicitud/FlujoEditor', $('#frmFlujoEditor').serialize(), LoadingServer, _UrlInicio);
                    }
                }
            </script>
            <div>
                <button style="width:200px; height:50px;" class="btn btn-green" id="SaveButton" onclick="save()">Guardar cambios</button>
            </div>
            <br />

            <script>


                function acomodarJSON() {
                    var ugly = myDiagram.model.toJson(); // document.getElementById('mySavedModel').value;
                    var obj = JSON.parse(ugly);
                    var pretty = JSON.stringify(obj, undefined, 4);
                    document.getElementById('mySavedModel').value = pretty;
                }

            </script>
            <svg width="400" height="180" style="display: none;">
                <g>
                    <rect x="50" y="20" rx="20" ry="20" width="150" height="150"
                          style="fill:red;stroke:black;stroke-width:5;opacity:0.5" />
                    <text x="55" y="50" font-family="Verdana" font-size="15" fill="black">Hello</text>
                </g>
            </svg>
        </div>
    </div>



    <div class="modal fade" id="myModalResp">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Cambiar Nombre al Área</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" class="form-control" label="Nombre del área">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" aria-label="Help"><span class="glyphicon glyphicon-question-sign"></span></button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        Fecha:<br>
                        <input id="date" type="date" name="" value="2018-01-01"><br><br>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="$('#myModalResp').modal('hide');">Guardar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" id="myModalSave">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="msgSave0">
                        Guardando Cambios ...
                        <img src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/throbber.gif" alt="Alternate Text" />
                    </h4>
                    <h4 class="modal-title" id="msgSave1" style="display:none">
                        Datos Guardados Exitosamente
                    </h4>
                </div>
               
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                    
                </div>
            </div>
       </div>
    </div>


    <form id="frmHijos" asp-controller="Solicitud" asp-action="FlujoAreasTraerHijos" method="get" accept-charset="UTF-8">
        @Html.AntiForgeryToken()
        <input type="hidden" value="01/01/2012" name="fechaF" />
        <input type="hidden" value="0" name="id" id="id" />
    </form>


    <form id="frmFlujoEditor" asp-controller="Solicitud" asp-action="FlujoAreas" method="post" accept-charset="UTF-8">
        @Html.AntiForgeryToken()
        <input type="hidden" value="01/01/2018" name="fechaF" id="fechaF" />
    </form>


</body>



<script>
    function ObtenerDiagrama() {
        var fecha = document.getElementById("date").value;
        fecha = fecha.replace("-", "/")
        fecah = fecha.replace("-", "/")
        location.reload();
        $("#fechaF").val(fecha);
        //AjaxPostForm2('/Solicitud/FlujoAreas', $('#frmFlujoEditor').serialize(), RenderDiagrama, _UrlInicio);
    }

    function RenderDiagrama(datos) {
        //console.log(datos);
    }

    function sleep(time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }

    function editarArea() {
        $("#myModalResp").modal('show');
    }


    function save() { 

        $("#myModalSave").modal('show');
        sleep(2500).then(() => {
            $("#msgSave0").css("display", "none");
            $("#msgSave1").css("display", "block");
        });

        sleep(1000).then(() => {
            $("#msgSave0").css("display", "block");
            $("#msgSave1").css("display", "none");
        });
    }

    //
    var datosR = [
        {
            "id": 0, "text": "Secretaria de la Función Pública", "children": []
        }
    ];
    var cont = 0;

    var datosHistorial =  @Html.Raw(ViewBag.Areas);
    function construirJSON(id) {
        $("#id").val(id);
        var arrayResp = [];
        console.log("searching hijos de " + id);
        //se pide al servidor la información
        $.ajax({
            url: '/Solicitud/FlujoAreasTraerHijos',
            type: "POST",
            data: $('#frmHijos').serialize(),
            success: function (data)
            {
                var arrayResp =
                    {
                        "id": 0, "text": ""
                    };
               
                var datos = JSON.parse(data);
                console.log(datos);
                if (datos.records.length > 0) {
                    for (var i = 0; i < datos.records.length; i++) {
                        arrayResp = {};
                        arrayResp.id = datos.records[i].araclave;
                        if (datos.records[i].arhdescripcion.length < 40)
                            arrayResp.text = datos.records[i].arhdescripcion;
                        else
                            arrayResp.text = datos.records[i].arhsiglas;
                        arrayResp.children = [{ "id": 600, "text": "Comisión de Avalúos de Bienes Nacionales" }, { "id": 101, "text": "Unidad de Desarrollo Administrativo" }, { "id": 102, "text": "Unidad de Asuntos Jurídicos", "children": [{ "id": 600, "text": "Comisión de Avalúos de Bienes Nacionales" }] }];//construirJSON(datos.records[i].araclave);
                        addChildrens(arrayResp); 
                    }
                }
                //tempChild = arrayResp;
            }
           
        });
        //return tempChild;
    }
    construirJSON(1);

    function addChildrens(data) {
        datosR[0].children[cont] = data;
        cont++;
    }

    $(document).ready(function () {

        console.log("renderizado: " + JSON.stringify(datosR));
        $('#jstree_demo').jstree({
            "core": {
                "animation": 0,
                "check_callback": true,
                "themes": { "stripes": true },
                'data': function (node, cb) {
                    if (node.id === "#") {
                        datosF = [{ "id": 1, "text": "Root node", "children": [{ "id": 2, "text": "Child node 1" }, { "id": 3, "text": "Child node 2" }] }];
                        cb(datosR);
                    }
                    else {
                        cb(["Child"]);
                    }
                }
            },
            "types": {
                "#": {
                    "max_children": 1,
                    "max_depth": 4,
                    "valid_children": ["root"]
                },
                "root": {
                    "icon": "/static/3.3.5/assets/images/tree_icon.png",
                    "valid_children": ["default"]
                },
                "default": {
                    "valid_children": ["default", "file"]
                },
                "file": {
                    "icon": "glyphicon glyphicon-file",
                    "valid_children": []
                }
            },
            "plugins": [
                "contextmenu", "dnd", "search",
                "state", "types", "wholerow"
            ]
        });
    }
    );


</script>