@{
    ViewData["Title"] = "Confirmación de envio de contraseña";
}

<h2 class="col-md-offset-1">@ViewData["Title"].</h2>

<br />
<p class="col-md-offset-1">
    Favor de revisar su correo electrónico para obtener su nueva contraseña.
</p>
