@model UsuContraseñaViewModel
@{
    ViewData["Title"] = "¿ Olvido su contraseña ?";
}

<h2 class="col-md-offset-1">@ViewData["Title"]</h2>


<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
    <br />
    <h4 class="col-md-offset-1">Favor de escribir su correo electrónico, para enviar su nueva contraseña</h4>
    <hr />
    <div class="form-group">
        <label asp-for="correo" class="col-md-2 control-label"></label>
        <div class="col-md-8">
            <input asp-for="correo" class="form-control" />
            <span asp-validation-for="correo" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Enviar</button>
        </div>
    </div>
</form>

