@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel

@{
    ViewData["Title"] = "Inicio de sesión";    
}

<div class="row ">
    <img class="col-md-2 col-md-offset-1" id="logoSFP" src="~/images/logo.png" alt="" style="float: left; margin-top:15px" />
</div>

<div class="row" style="margin-top:30px; ">    
    <div class="col-md-5 col-md-offset-1">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <h4>Favor de proporcionar sus datos para el inicio de sesión</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Entrar</button>
                    </div>
                </div>

                @if (Model.Mensaje != null)
                { 
                    <div style="color:red"> @Model.Mensaje </div>

                }


                <p>
                    <a asp-action="ForgotPassword">¿Olvido su contraseña?</a>
                </p>
            </form>
        </section>
    </div>
    <div class="col-md-offset-1">
        <section>
            <div style="margin-top: 10px; float: left; width: 50%;">
                <img src="~/images/introSistema.png" alt="" />
            </div>
        </section>
    </div>
</div>
<br/>

    @*<div class="row ">
        <div class="col-md-offset-4">
            <p>Insurgentes Sur 1735, Col. Guadalupe Inn, Deleg. &Aacute;lvaro Obreg&oacute;n</p>
            <p>Distrito Federal CP. 01020, T. (55) 2000-3000</p>
        </div>
    </div>*@


<hr />
<footer >
    <div style="text-align: center">
        <p>&copy; 2016 - Secretaría de la Función Pública - Oficialía Mayor - Dirección General de Tecnologías de la Información</p>
        <p>Insurgentes Sur 1735, Col. Guadalupe Inn, Deleg. &Aacute;lvaro Obreg&oacute;n</p>
        <p>Distrito Federal CP. 01020, T. (55) 2000-3000</p>
    </div>

</footer>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
