@{
    ViewData["Title"] = "Confirmación de cambio de contraseña";
}

<br />
<br />
<h1>@ViewData["Title"].</h1>
<br />
<p>   
    La contraseña ha sido cambiada. Favor <a asp-controller="Account" asp-action="Login">de autentificarse nuevamente en el sistema</a>.
</p>
