@using SFP.SIT.WEB.Util
@model UsuContraseñaViewModel
@{
    ViewData["Title"] = "Cambiar contraseña";
}

<br />
<br />
<form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal">
    <h2>Cambiar contraseña</h2>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="codigo" type="hidden" />
    <div class="form-group">
        <label asp-for="correo" class="col-md-2 control-label"></label>
        <div class="col-md-6">
            <input asp-for="correo" class="form-control" value="@User.FindFirst(ConstantesWeb.Usuario.CORREO).Value" readonly/>
            <span asp-validation-for="correo" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="contraseña" class="col-md-2 control-label"></label>
        <div class="col-md-6">
            <input asp-for="contraseña" class="form-control" type="password" />
            <span asp-validation-for="contraseña" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="confirmar" class="col-md-2 control-label"></label>
        <div class="col-md-6">
            <input asp-for="confirmar" class="form-control"  type="password"/>
            <span asp-validation-for="confirmar" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Cambiar</button>
        </div>
    </div>

    @if (Model.error != "" && Model.error != null)
    {
        <div class="alert alert-warning">
            <strong>Advertencia :</strong> @Model.error
        </div>

    }

</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
