@{
    ViewData["Title"] = "Acerca de";
}

<div class="container col-md-offset-1">
    <div style="margin-top:20px">
        <p>
            Cualquier aclaración acerca de las solicitudes de información favor de comunicarse con los siguientes servidores públicos adscritos a la 
            Unidad de Asuntos Jurídicos.
        </p>
    </div>
    <ul >
        <li style="margin-top:10px;"> <b> Dirección General Adjunta de Procediminetos y Servicios Legales
            <br />Ext.  4078</b>
        </li>

        <li style="margin-top:10px">
            <b>
                Dirección de Gestión y Enlace
                <br />Ext.  1095
            </b>
        </li>
        <li style="margin-top:10px">
            <b>
                Subdireccion de Procedimientos y Servicios Legales
                <br />Ext.  2382
            </b>
        </li>
    </ul>
    <div style="margin-top:20px">
        <p>
            O al correo electrónico <strong> jbuttanda@funcionpublica.gob.mx </strong>
        </p>
    </div>
    <br /> Secretaría de la Función Pública
    <br /> Insurgentes Sur 1735, Col. Guadalupe Inn.
    <br /> Delegación Álvaro Obregón
    <br /> México, D.F.
    <br /> (01) (55) 2000-3000
    <br /> C.P. 01020
</div>
 

