@{
    ViewData["Title"] = "Sistema de Transparencia de la Secretaría de la Función Pública";
}

@*
    <h3>@ViewData["Message"]</h3>
*@


<div class="container">
    <div style="margin-top:20px">
        <br />

        <h2 class="col-md-offset-1">@ViewData["Title"]</h2>
        <h3 class="col-md-offset-1">Ver 2.0</h3>

        <p>
            <br class="col-md-offset-1" />En caso de falla en la funcionalidad del sistema favor de comunicarse a la Dirección de Arquitectura de Software ext. 5066
            <br class="col-md-offset-1" />adscrita a la Dirección General de Tecnologías de la Información o al correo <strong>mlaudino@funcionpublica.gob.mx</strong>
        </p>

        <br class="col-md-offset-1"  /> Secretaría de la Función Pública
        <br class="col-md-offset-1" /> Insurgentes Sur 1735, Col. Guadalupe Inn.
        <br class="col-md-offset-1" /> Delegación Álvaro Obregón
        <br class="col-md-offset-1" /> México, D.F.
        <br class="col-md-offset-1" /> (01) (55) 2000-3000
        <br class="col-md-offset-1" /> C.P. 01020
    </div>
</div>

