<div id="gridSolBuscarPie" style="display: none; width: 100%; height: 5%; text-align:center  ">
    <div id="pagInicio" style="float:left; margin-left:36%; margin-right:5px; margin-top:5px; width:25px; border-color:lightgray; border-style: solid; border-width: 1px; text-align:center; cursor: pointer; " onclick="Paginacion(PAGINA_INICIO);"> |&#60; </div>
    <div id="pagAnterior" style="float:left; margin-left:5px;  margin-right:5px;  margin-top:5px; width:25px; border-color:lightgray; border-style: solid; border-width: 1px;  text-align:center; cursor: pointer; " onclick="Paginacion(PAGINA_ANTERIOR);"> &#60;</div>
    <div id="pagina" style="float:left; margin-left:5px;  margin-right:5px; margin-top:5px; cursor: pointer; ">
        <label id="pagAct<" style="float:left; padding-left:5px; padding-right:5px; "> Página </label>
        <input id="txtPagAct" type="text" style="float:left; width:35px; height:24px;  margin-left:5px;  margin-right:5px;" maxlength="3" />
        <label id="pagActFin" style="float:left; padding-left:5px; padding-right:5px; "> de 0</label>
    </div>
    <div id="pagSiguiente" style="float:left; margin-left:5px;  margin-right:5px; margin-top:5px; width:25px; border-color:lightgray; border-style: solid; border-width: 1px; text-align:center; cursor: pointer; " onclick="Paginacion(PAGINA_POSTERIOR);"> &#62; </div>
    <div id="pagUltimo" style="float:left; margin-left:5px;  margin-right:5px; margin-top:5px; width:25px; border-color:lightgray; border-style: solid; border-width: 1px; text-align:center; cursor: pointer; " onclick="Paginacion(PAGINA_FINAL);"> &#62;| </div>
    <div id="pagTotal" style="float:right;  margin-top:5px; width:150px; text-align:center; " >  0 - 0 de 0 </div>
</div>