<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="background-color:whitesmoke; ">
    <div style="text-align: center;  ">
        <div style="width: 70%; margin: 0 auto; border-bottom:1px solid black; margin-top:50px;  "></div>
        <div style="width: 70%; margin: 0 auto; text-align: center">
            <h1>Notificación de Solicitudes de información pendientes</h1>
        </div>
        <div style="width: 70%; margin: 0 auto; border-bottom:1px solid black;"></div>

        <div style="width: 70%; margin: 0 auto; border-bottom:1px solid black; margin-top:50px;  ">
            <h3>Se le informa que en el "Sistema de Transparencia", tiene los siguientes turnos pendientes para su atención:</h3>
        </div>

        <div style="width: 70%; margin: 0 auto; border-bottom:1px solid black; margin-top:50px;  ">
            <h3>Área: |AREA|</h3>
        </div>
        

                        
        Asuntos vencidos:	1
        Por vencer hoy:	0
        Por vencer en 1 días:	0
        Por vencer en 5 días:	0
        Por vencer en más de 5 días:	0

        Año: 	2017
        Folio: 	9125
        Folio area: 	000
        No. Oficio: 	510/DGRH/327/2017
        Asunto: 	HACEN REFERENCIA AL PROCESO DE EVALUACION DEL DESEMPEÑO ANUAL 2016, POR LO QUE SOLICITAN EL APOYO PARA QUE EL SISTEMA QUE HISTORICAMENTE SE HA UTILIZADO PARA TAL FIN, SEA HABILITADO PARA LA CARGA DE DATOS DEL PROCESO DE EVALUACION DEL DESEMPEÑO.
        Fecha Compromiso: 	15/02/2017
        Archivos relacionados: 	•	135181070_510_DGRH_0327_2017.pdf
        ________________________________________



        Insurgentes Sur 1735, Col. Guadalupe Inn, Deleg. Álvaro Obregón
        Distrito Federal CP. 01020, T. (55) 2000-3000



    </div>
</body>
</html>