@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<style>
    .tab {
        width: 100%;
        height: 600px;
        border: 1px solid silver;
        border-top: 0px;
        display: none;
        padding: 10px;
        overflow: auto;
    }

    .cke_dialog {
        z-index: 20055 !important;
    }
</style>

<div id="tab-example" sytle="background-color:#edf1f6">
    <div id="tabs" style="width: 100%; height: 29px;"></div>
    <div id="tab1" class="tab" sytle="background-color:#edf1f6">        
        <div id="sidebar" style="height: 50%; width: 100%; overflow-y:scroll;"></div>
        <button id="btnAceptar" name="btnAceptar" type="button" class="btn btn-default" style="float:left">Aceptar respuesta</button>
        <button id="btnCorregir" name="btnCorregir" type="button" class="btn btn-default" style="float:right">Corregir respuesta</button>
        <div id="divGridResp" style="height: 45%; width: 100%; overflow-y:scroll; background-color:#edf1f6; "> datos</div>
    </div>
    <div id="tab2" class="tab">

    </div>
    <div id="tab3" class="tab">
        What did you expect, of course it is the third tab.
    </div>
</div>


@*
    <!-- FORMA MODAL-->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content" style="background-color:whitesmoke;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div id="divTopLista" class="w2ui-span10" style="padding-left:10px; margin-bottom:2px;">
                        <div id="divTopListaTiulo" style="float:left; font-family:'Roboto', sans-serif; font-size:14px; font-weight:bold; color:#666;"></div>
                    </div>
                </div>
                <div id="divBody" class="modal-body">
                    <div id="divResMultiple" style="overflow: auto; height:580px; "> </div>
                </div>
                <div class="modal-footer">
                    <label id="lblMensaje"></label>
                    <button id="btnAceptar" name="btnAceptar" type="button" class="btn btn-default">Aceptar respuesta</button>
                    <button id="btnCorregir" name="btnCorregir" type="button" class="btn btn-default">Corregir respuesta</button>
                    <button id="btnAnalizarCerrar" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
*@

<!-- FORMA MODAL-->
<div id="frmModalCorregir" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content" style="background-color:whitesmoke;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div id="divTopLista" class="w2ui-span10" style="padding-left:10px; margin-bottom:2px;">
                    <div id="divTituloCorregir" style="float:left; font-family:'Roboto', sans-serif; font-size:14px; font-weight:bold; color:#787;">Corregir respuesta</div>
                </div>
            </div>
            <div id="divBody" class="modal-body">
                <div class="w2ui-field w2ui-span8" style="clear: both">
                    <label>Especifique el motivo <br />de corrección :</label>
                    <div id="bodyModal" contenteditable="true" class="modal-body"></div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="btnCorregirEnviar" type="button" class="btn btn-default" data-dismiss="modal">Notificar correción </button>
                <button id="btnCerrar" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<form id="frmAceptarResp" asp-controller="Estado" asp-action="PRUDaceptarResp" method="post" accept-charset="UTF-8">
    @Html.AntiForgeryToken()
    <input type="hidden" id="repclave" name="repclave">
    <input type="hidden" id="nodClave" name="nodClave">
</form>

<form id="frmCorregirResp" asp-controller="Estado" asp-action="PRUDcorregirResp" method="post" accept-charset="UTF-8">
    @Html.AntiForgeryToken()

    <input type="hidden" id="solclaveCorregir" name="solclaveCorregir">
    <input type="hidden" id="repclaveCorregir" name="repclaveCorregir">
    <input type="hidden" id="nodClaveCorregir" name="nodClaveCorregir">
    <input type="hidden" id="nodOriClaveCorregir" name="nodOriClaveCorregir">
    <input type="hidden" id="mensaje" name="mensaje">
</form>

<form id="frmBuscarResp" asp-controller="Estado" asp-action="BuscarRespuesta" method="post" accept-charset="UTF-8">
    @Html.AntiForgeryToken()
    <input type="hidden" id="repClaveD" name="repClaveD">    
</form>


@section Scripts
    {
    <script>
        var _PaginaActual;

        var _DatosRespDet =  @Html.Raw(ViewBag.DatosRespDetalle);
        var _RegistroAct;

        var config = {
            tabs: {
                name: 'tabs',
                active: 'tab1',
                tabs: [
                    { id: 'tab1', caption: 'Revisar Respuesta(s) de UA(s)' },
                    { id: 'tab2', caption: 'Responder al INAI' },
                    { id: 'tab3', caption: 'Enviar al Cómite de Transparencia' },
                ],
                onClick: function (event) {
                    $('#tab-example .tab').hide();
                    $('#tab-example #' + event.target).show();
                }
            }
        }

        function Actualizar(event) {
            if (_Inicio == false) {
                _Inicio = true;
                $('#myModal').modal('toggle');
                window.location.reload();
            }
        }

        function BuscarForma(Repclave)
        {
            for (var iIdxReg = 0; iIdxReg < _DatosRespDet.records.length; iIdxReg++) {
                var oReg = _DatosRespDet.records[iIdxReg];

                if (oReg.Repclave = Repclave)
                {
                    return oReg;
                }
            }
        }

        $(document).ready(function ()
        {
            $('#btnAceptar').hide();
            $('#btnCorregir').hide();
            $('#divGridResp').hide();


            var objetos = {
                gridRespTransp: {
                    name: 'gridRespTransp',
                    method: 'GET', // need this to avoid 412 error on Safari
                    show: { columnHeaders: false },
                    columns: [
                        { field: 'titulo', caption: 'name', size: '28%', style: 'background-color: #efefef; border-bottom: 1px solid white; padding-right: 5px;', attr: "align=left" },
                        { field: 'valor', caption: 'value', size: '72%' }
                    ]
                }
            }

            $("#divGridResp").w2grid(objetos.gridRespTransp);
            

            $('#frmModalCorregir').on('shown.bs.modal', function () {
                ckEditorDefinirObj("bodyModal", 400);
            });

            document.getElementById("btnCorregirEnviar").onclick = function () { btnCorregirEnviar() };

            w2ui['layoutMain'].content('main',
                {
                    render: function () {
                        $(this.box).append($('#tab-example').detach());
                        $('#tabs').w2tabs(config.tabs);
                        $('#tab1').show();

                        //var urlForma = _UrlRespuesta + "PVresponder?solclave=" + _solclave + "&proclave=" + _proclave + "&nodclave=" + _nodclave + "&repclave=" + w2ui.gridUArespuesta.records[iIdx].repclave + "&araclave=" + _araclave + "&solfecsol=" + _solfecsolticks + "&Oper=2";
                        var urlForma = _UrlRespuesta + "PVresponder?solclave=" + _solclave + "&proclave=" + _proclave + "&nodclave=" + _nodclave + "&Oper=1";
                        $("#tab2").load(urlForma, function () {
                            Inicializar();
                        });

                        var iNombre = 0;
                        var sNombreAnt = "";
                        var sNombreAct = "";
                        var iNivel = -1
                        var iSubNivel = 1;

                        var sbNodes = { recs: [] };
                        for (var iIdxReg = 0; iIdxReg < _DatosRespDet.records.length; iIdxReg++)
                        {
                            var oReg = _DatosRespDet.records[iIdxReg];
                            sNombreAct = oReg.UsrNombre + " " + oReg.UsrPaterno + " " + oReg.UsrMaterno + " - " + oReg.ArhDescripcion;

                            if (sNombreAnt !== sNombreAct) {
                                iNivel++;
                                iSubNivel = 1;
                                sbNodes.recs.push({ "id": "id-" + iNivel, "text": (iNivel + 1) + ') ' + sNombreAct, "expanded": true, "group": true, nodes: [] });

                                switch (oReg.SdoClave) {
                                    case 0:
                                        sbNodes.recs[iNivel].nodes.push({ id: 'id-' + oReg.Repclave, text: iSubNivel + ') Falta respuesta de correción por parte del área' });
                                        break;
                                    case 7:
                                        sbNodes.recs[iNivel].nodes.push({ id: 'id-' + oReg.Repclave, text: iSubNivel + ') ' + oReg.RepEdoFec + "  -  Oficio : " + oReg.RepOficio + "  -  " + oReg.RtpDescripcion, icon: 'glyphicon glyphicon-ok' });
                                        break;
                                    default:
                                        sbNodes.recs[iNivel].nodes.push({ id: 'id-' + oReg.Repclave, text: iSubNivel + ') ' + oReg.RepEdoFec + "  -  Oficio : " + oReg.RepOficio + "  -  " + oReg.RtpDescripcion });
                                }
                                sNombreAnt = sNombreAct;
                            }
                            else
                            {
                                switch (oReg.SdoClave) {
                                    case 0:
                                        sbNodes.recs[iNivel].nodes.push({ id: 'id-' + oReg.Repclave, text: iSubNivel + ') Falta respuesta de correción por parte del área' });
                                        break;
                                    case 7:
                                        sbNodes.recs[iNivel].nodes.push({ id: 'id-' + oReg.Repclave, text: iSubNivel + ') ' + oReg.RepEdoFec + "  -  Oficio : " + oReg.RepOficio + "  -  " + oReg.RtpDescripcion, icon: 'glyphicon glyphicon-ok' });
                                        break;
                                    default:
                                        sbNodes.recs[iNivel].nodes.push({ id: 'id-' + oReg.Repclave, text: iSubNivel + ') ' + oReg.RepEdoFec + "  -  Oficio : " + oReg.RepOficio + "  -  " + oReg.RtpDescripcion });
                                }
                            }
                            iSubNivel++;
                        }

                        $('#sidebar').w2sidebar({
                            name: 'sidebar',
                            nodes: sbNodes.recs,
                            style: 'background-color: lightgray',
                            onDblClick: function (event) {

                                var sRespID = event.object.id.substring(3);
                                _RegistroAct = BuscarForma(sRespID);

                                $("#divTopListaTiulo").html(_RegistroAct.RtpDescripcion + " " + "  -  Oficio : " + oReg.RepOficio);

                                if (_RegistroAct.SdoClave == 7)
                                {
                                    $("#lblMensaje").html("No se puede modificar, ya se revisó esta respuesta");
                                    $("#divTopListaTiulo").html(_RegistroAct.RtpDescripcion + " " + "  -  Oficio : " + oReg.RepOficio );
                                    $("#btnAceptar").hide();
                                    $("#btnCorregir").hide();
                                }

                                var iAltura = $("#sidebar").height();

                                $('#btnAceptar').show();
                                $('#btnCorregir').show();
                                $('#divGridResp').show();

                                //var urlForma = _UrlRespuesta + _RegistroAct.RtpForma + "?solclave=" + _solclave + "&proclave=" + _proclave + "&nodclave=" + _nodclave + "&repclave=" + sRespID + "&araclave=" + _araclave + "&solfecsol=" + _solfecsolticks + "&Oper=2";
                                //////$("#divResMultiple").load(urlForma, function () {
                                //////    document.getElementById("btnAceptar").onclick = function () { btnAceptarClick() };
                                //////    document.getElementById("btnCorregir").onclick = function () { btnCorregirClick() };
                                //////    Inicializar();
                                //////});
                                //////$("#myModal").modal();

                                //$("#divRespForma").load(urlForma, function () {
                                //    document.getElementById("btnAceptar").onclick = function () { btnAceptarClick() };
                                //    document.getElementById("btnCorregir").onclick = function () { btnCorregirClick() };
                                //    Inicializar();
                                //});
                                //Aqui mandaoms a llamar al AJAX

                                $('#repClaveD').val(sRespID);
                                var FrmAceptar = $('#frmBuscarResp').serialize();
                                var urlForma = _UrlEstado + "BuscarRespuesta";
                                AjaxPostForm(urlForma, FrmAceptar, ActualizarGridResp, _UrlInicio);

                            }
                        });

                    }
                }
            );
        });

        function ActualizarGridResp(datos)
        { 
            w2alert("Actualziar el GRID con los datos.....");            
            w2ui['gridRespTransp'].clear();

            alert(datos.records);
            if (datos.records != null)
            { 
                w2ui.gridRespTransp.records = datos.records;
                w2ui.gridRespTransp.reload();
            }
            

            //if (oSolicitud != null) {
            //    w2ui.gridSolBuscar.records = oSolicitud;
            //    w2ui.gridSolBuscar.reload();


            //for (var iIdx = 0; iIdx < datos.length; iIdx++)
            //{ 
            //    w2ui['gridRespTransp'].add({ recid: iIdx, titulo: datos[iIdx].titulo, valor: datos[iIdx].valor });
            //}
            //$('#divGridResp').w2render('gridRespTransp');
        }
        

        function btnAceptarClick()
        {
            $('#repclave').val(_RegistroAct.Repclave);
            $('#nodClave').val(_nodclave);

            var FrmAceptar = $('#frmAceptarResp').serialize();
            var urlForma = _UrlEstado + "PRUDAceptarRespSol";
            AjaxPostForm(urlForma, FrmAceptar, ActualizarPag, _UrlInicio);
        }

        function btnCorregirClick() {
            $('#myModal').modal('toggle');
            $("#frmModalCorregir").modal();
            $("#divTituloCorregir").html("Corregir respuesta : " + _RegistroAct.RtpDescripcion + " " + "  -  Oficio : " + _RegistroAct.RepOficio);
        }

        function btnCorregirEnviar() {
            $('#frmModalCorregir').modal('toggle');
            $('#solclaveCorregir').val(_solclave);
            $('#repclaveCorregir').val(_RegistroAct.Repclave);
            $('#nodClaveCorregir').val(_nodclave);
            $('#nodOriClaveCorregir').val(_RegistroAct.Nodclave );

            $('#mensaje').val( CKEDITOR.instances.bodyModal.getData() );

            var FrmAceptar = $('#frmCorregirResp').serialize();
            var urlForma = _UrlEstado + "PRUDCorregirRespSol";
            AjaxPostForm(urlForma, FrmAceptar, ActualizarPag, _UrlInicio);
        }

        function ActualizarPag()
        {
            window.location.reload();

            /// GENERAR LLAMADA AJAX
            ///ObtenerDatosRespuesta(int repClaveD)
        }
    </script>
}