@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div id="divMain" style="padding-left:10px; margin-top:2px; margin-bottom:2px;">
    <div class="w2ui-field w2ui-span6" style="clear: both">
        <label>Acción a realizar :</label>
        <div>
            <select id="lstAccion" style="float: left; width:450px;"> </select>
        </div>
    </div>
</div>

<div id="layoutTopMain" style="height:99%;"> </div>

@section Scripts
    {
    <script>
        var _PaginaActual;

        _ListaAccion = @Html.Raw(ViewBag.ListaAccion);

        $(function () {
            w2ui['layoutMain'].content('main',
                {
                    render: function ()
                    {
                        $(this.box).append($('#layoutTopMain').detach());
                        $('#layoutTopMain').w2layout(GetLayoutTopMain("45px", "80%"));

                        @*--PANEL TOP -- *@
                        w2ui['layoutTopMain'].content('top', {
                            render: function () {
                                $(this.box).append($('#divMain').detach());
                                SelectAddElemClearLimite("lstAccion", _ListaAccion, _solfecsol, _FechaAct);
                            }
                        });

                        $('#lstAccion').change(function () {
                            if ($('#lstAccion').val() != null) {
                                _PaginaActual = _UrlRespuesta + AristaClick(_ListaAccion, parseInt($('#lstAccion').val())) + "?solclave=" + _solclave + "&proclave=" + _proclave + "&nodclave=" + _nodclave;

                                AjaxValidarSesion(_UrlSesionActiva, _UrlInicio);

                                w2ui['layoutTopMain'].load('main', _PaginaActual, null, function () {
                                    $("#btnAccion").remove();
                                    $('#divMenuAccion').append("<a id='btnAccion' name='btnAccion'> <div class='boton2'><div class='num4'></div></div> </a> ");
                                    $('#btnAccion').click(GrabarIFrame);
                                    Inicializar();                                
                                    $('#avanzar').val(1);
                                });
                            }
                        });
                    }
                }
            );
        });

        function Actualizar(event) {
            if (_Inicio == false)
            { 
                Responder();        
            }            
        }

    </script>
}
