<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  
  <appSettings>
    <add key="ArchivoLog" value="WinPrcInd.txt" />
    <add key="Carpeta" value="C:\Users\mlaudino\Documents\Visual Studio 2015\Projects\SFP.SIT\src\SFP.SIT.WEB\Logs\" />
    
    <add key="ConnectionStrings" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=sfp-bddev01.sfp.gob.mx)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=DESA))); User Id=SIT; Password=wUT7gat+ph; Max Pool Size= 20; Min Pool Size=1; Connection Lifetime=120; Connection Timeout=60; Incr Pool Size=1; Decr Pool Size=1;" />        
    
    <add key="objCxn" value="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral,PublicKeyToken=89b483f429c47342" />
    <add key="objTran" value="Oracle.ManagedDataAccess.Client.OracleTransaction, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral,PublicKeyToken=89b483f429c47342" />
    <add key="objDataAdapter" value="Oracle.ManagedDataAccess.Client.OracleDataAdapter, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral,PublicKeyToken=89b483f429c47342" />

    <add key="HoraPrc" value="18" />
    
    <add key="EnviarMail" value="NO" />
    <add key="ServidorMail" value="172.29.153.7" />        
    <add key="PuertoMail" value="25" />
    <add key="UsuarioMail" value="sit@funcionpublica.gob.mx" />
    <add key="ContraseñaMail" value="mlaudino" />
    <add key="OmitirUaMail" value="13,12" />
    <add key="MensajeMail" value="C:\Users\mlaudino\Documents\Visual Studio 2015\Projects\SFP.SIT\src\SFP.SIT.WEB\Plantillas\" />

    
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
